body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.navbar-left {
  height: 100vh;
  width: 20%;
  background-color: #3fc0f0;
  border-right: 5px solid darkblue;
}

.logo {
  width: 22rem;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navlink {
  padding-top: 20%;

  color: white;
  cursor: pointer;
}

.navlink-active {
  color: darkblue;
}

.content-right {
  width: 80%;
  height: 100vh;
}

.create-button {
  margin-left: 3%;
}

.filter {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 2%;
  padding-left: 2%;
  font-size: 1.3rem;
  background-color: #fafafa;
  border-radius: 20px 0;
}

.filter-form {
  display: flex;

  width: 60%;
  justify-content: space-around;
}

.filter-search {
  width: 20%;
}
.filter-type {
  min-width: 20%;
}

.campaign-bar {
  display: flex;
  align-items: center;
}

.table {
  margin-left: 4%;
  margin-right: 4%;
  font-size: 1.3rem;
}
.table h2 {
  padding-left: 2%;
}

.campaign-names {
  font-weight: 700;
}

.button-delete {
  background-color: rgba(255, 0, 0, 0.664);
  color: white;
}
.button-activate {
  background-color: green;
  color: white;
}

.ant-modal-title:where(.css-dev-only-do-not-override-1xg9z9n).ant-modal
  .ant-modal-title {
  font-size: 1.5em;
  margin-bottom: 5%;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-modal .ant-modal-title {
  font-size: 1.5em;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  .container {
    display: block;
    width: 100vw;
  }
  .navbar-left {
    height: 15vh;
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .logo {
    width: 10rem;
  }
  .content-right {
    width: 100vw;
  }
  .create-button,
  .filter,
  .table {
    margin-top: 8%;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
  }
  .filter-search {
    width: 96%;
  }

  .search-logo {
    display: none;
  }

  .filter-search,
  .filter-type,
  .filter-date,
  .filter-button {
    margin: 2%;
  }
  .actions-buttons {
    display: flex;
    flex-direction: column;
  }
  .table h2 {
    text-align: center;
  }
}
@media (min-width: 770px) and (max-width: 1030px) {
  .container {
    display: block;
    width: 100vw;
  }
  .navbar-left {
    height: 15vh;
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .logo {
    width: 20rem;
  }
  .content-right {
    width: 100vw;
  }
  .create-button,
  .filter,
  .table {
    margin-top: 8%;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
  }
  .filter-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
  }
  .filter-search {
    width: 96%;
  }

  .search-logo {
    display: none;
  }

  .filter-search,
  .filter-type,
  .filter-date,
  .filter-button {
    margin: 2%;
  }
  .actions-buttons {
    display: flex;
    flex-direction: column;
  }
  .table h2 {
    text-align: center;
  }
  .create-button {
    margin-left: 4%;
    margin-top: 3%;
    display: flex;
    height: 4rem;

    font-weight: 700;
    font-size: 1.8rem;
  }
  .table {
    font-size: 1.8rem;
  }
}
