body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.navbar-left {
  height: 100vh;
  width: 20%;
  background-color: #3fc0f0;
  border-right: 5px solid darkblue;
}

.logo {
  width: 22rem;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.navlink {
  padding-top: 20%;

  color: white;
  cursor: pointer;
}

.navlink-active {
  color: darkblue;
}

.content-right {
  width: 80%;
  height: 100vh;
}

.create-button {
  margin: 4%;
  display: flex;
  height: 3rem;

  font-weight: 700;
  font-size: 1.2rem;
}

.filter {
  margin: 4%;
  font-size: 1.3rem;
}

.filter-form {
  display: flex;

  width: 60%;
  justify-content: space-around;
}

.filter-search {
  width: 20%;
}
.filter-type {
  min-width: 20%;
}

.table {
  margin: 4%;
  font-size: 1.3rem;
}

.button-delete {
  background-color: rgba(255, 0, 0, 0.664);
  color: white;
}
.button-activate {
  background-color: green;
  color: white;
}

@media (max-width: 768px) {
  .container {
    display: block;
    width: 100vw;
  }
  .navbar-left {
    height: 15vh;
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .logo {
    width: 10rem;
  }
  .content-right {
    width: 100vw;
    margin-left: 3%;
  }
  .create-button,
  .filter,
  .table {
    margin-top: 8%;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
  }
  .filter-search {
    width: 96%;
  }

  .search-logo {
    display: none;
  }

  .filter-search,
  .filter-type,
  .filter-date,
  .filter-button {
    margin: 2%;
  }
  .actions-buttons {
    display: flex;
    flex-direction: column;
  }
}
